@using Microsoft.AspNetCore.Components.Web
@using SporthalleWeb.Components.Reservierung
<component type="typeof(WochenkalenderComponent)" render-mode="ServerPrerendered" />
<div class="calendar-legend">
  <span class="legend-item"><span class="legend-dot confirmed"></span>Belegt</span>
  <span class="legend-item"><span class="legend-dot provisional"></span>Angefragt</span>
  <span class="legend-item"><span class="legend-dot recurring"></span>Dauerbelegung</span>
  <span class="legend-item"><span class="legend-dot free"></span>Frei</span>
</div>
