<?xml version="1.0" encoding="utf-8"?>
<Template Key="154D6D78-A1F5-4581-ADB9-ABCE32C12235" Alias="FlexPage" Level="1">
  <Info>
    <Name>FlexPage</Name>
    <IsMasterTemplate>false</IsMasterTemplate>
    <MasterTemplate>
      <Key>00000000-0000-0000-0000-000000000000</Key>
      <Value>_SiteLayout</Value>
    </MasterTemplate>
    <Path>~/Views/FlexPage.cshtml</Path>
    <Description></Description>
  </Info>
</Template>
