@using SporthalleWeb.Components.Reservierung
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <component type="typeof(ReservierungAdminComponent)"
               render-mode="Server"
               param-AdminUser="@(User.Identity?.Name ?? "admin")" />
</div>
