@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
<section class="pme-section">
  <div class="pme-container">
    <iframe src="/passivmitglieder/hallenboden"
            class="pme-iframe"
            title="Hallenboden Passivmitgliedschaft"></iframe>
  </div>
</section>
