@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Sporthalle Sulzerallee";
  ViewBag.BodyClass = "page-home";
}

<div class="hero">
  <div class="hero-announcement">
    <div class="pre-label">Save the Date</div>
    <h2>Eröffnungsfest</h2>
    <p class="date">Donnerstag, 20. August 2026 &nbsp;|&nbsp; 18.30 Uhr</p>
  </div>
  <h1></h1>
  <p>
    <img src="/img/logo_transparent.png" alt="Sporthalle Sulzerallee" /><br />
    Privates Projekt zur raschen Erhöhung der Hallenkapazität in Winterthur
  </p>
</div>