<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8e4b2a1-3f6d-4e09-9a7b-5c1d2e3f4a5b" Alias="Bodenplan Linienfarbe" Level="1">
  <Info>
    <Name>Bodenplan Linienfarbe</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "showAlpha": true,
  "showPalette": true
}]]></Config>
</DataType>
