<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1a2b3c4-d5e6-4f78-90ab-cdef12345678" Alias="Flex Page Blocks" Level="1">
  <Info>
    <Name>Flex Page Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6d1c8e5a-4f2b-4a0c-bf9e-5b0a3d2c6e4f",
      "settingsElementTypeKey": null,
      "label": "Kontakt",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#eb504b",
      "backgroundColor": null,
      "thumbnail": null
    }
  ],
  "validationLimit": {
    "min": null,
    "max": null
  },
  "useSingleBlockMode": false,
  "useLiveEditing": false,
  "useInlineEditingAsDefault": false,
  "maxPropertyWidth": null
}]]></Config>
</DataType>
