<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c334d64-4337-4eaf-8bcf-a3cca4f0acc7" Alias="Grid Page -  - Block Grid" Level="1">
  <Info>
    <Name>Grid Page -  - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a7000007-0000-4000-8000-000000000007",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 6
        }
      ]
    },
    {
      "contentElementTypeKey": "6d1c8e5a-4f2b-4a0c-bf9e-5b0a3d2c6e4f",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        }
      ]
    },
    {
      "contentElementTypeKey": "a6000006-0000-4000-8000-000000000006",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        }
      ]
    },
    {
      "contentElementTypeKey": "a1000001-0000-4000-8000-000000000001",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "a2000002-0000-4000-8000-000000000002",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        }
      ]
    },
    {
      "contentElementTypeKey": "a3000003-0000-4000-8000-000000000003",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        }
      ]
    },
    {
      "contentElementTypeKey": "a4000004-0000-4000-8000-000000000004",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        }
      ]
    },
    {
      "contentElementTypeKey": "a5000005-0000-4000-8000-000000000005",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>