<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc44dd55-ee66-ff77-aa88-bb9900aabb11" Alias="Renter Type Dropdown" Level="1">
  <Info>
    <Name>Renter Type Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Privatperson",
    "Firma",
    "Verein",
    "Schule"
  ],
  "multiple": false
}]]></Config>
</DataType>