@using SporthalleWeb.Features.Booking
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <component type="typeof(BookingAdminComponent)"
               render-mode="Server"
               param-AdminUser="@(User.Identity?.Name ?? "admin")" />
</div>
