<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1b2c3d4-e5f6-4a78-90bc-def123456789" Alias="flexPage" Level="1">
  <Info>
    <Name>Flex Page</Name>
    <Icon>icon-layout</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Flexible Seite mit Block List Inhalt</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>FlexPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="C7EF594D-E8E9-4359-BCDA-960511E83692">FlexPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f3a4b5c6-d7e8-4f90-12a0-345678901234</Key>
      <Name>Inhalt</Name>
      <Alias>content</Alias>
      <Definition>f1a2b3c4-d5e6-4f78-90ab-cdef12345678</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Block List Inhalt der Seite]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e2f3a4b5-c6d7-4e89-01f0-234567890123</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>