<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a3e7c2d1-b4f5-4a6c-9d8e-0f1a2b3c4d5e" Alias="passivMitgliedschaft" Level="1">
  <Info>
    <Name>Passivmitgliedschaft</Name>
    <Icon>icon-favorite</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>PassivMitgliedschaft</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d8f3a1b2-c4e5-4f6a-b7d8-9e0f1a2b3c4d">PassivMitgliedschaft</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e</Key>
      <Name>Page Heading</Name>
      <Alias>pageHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Überschrift im Page-Header (Standard: «Passivmitgliedschaft»)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c2d3e4f5-a6b7-4c8d-9e0f-1a2b3c4d5e6f</Key>
      <Caption>Content</Caption>
      <Alias>Content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
