<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a2000002-0000-4000-8000-000000000002" Alias="passivmitgliedschaftElement" Level="2">
  <Info>
    <Name>Passivmitgliedschaft Element</Name>
    <Icon>icon-grid</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Eingebetteter interaktiver Hallenbodenplan für die Passivmitgliedschaft</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>